/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}



/* Contenedores */
.contenedor__header {
    background: #575555;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100vw;
    left: 0;
    z-index: 100%;
}

/* contenido del header */
.header {
    max-width: 1100vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 18px;
}

/* Logo */
.logo {
    width: 200px;
    height: auto;
}

/*  hamburguesa (invisible en pantallas grandes) */
.nav__toggle {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
}

/* Menú en pantallas pequeñas */
@media (max-width: 768px) {
    
    .nav__toggle {
        display: block;
    }

    /* Menú oculto por defecto */
    .header__nav {
        display: none;
        position: absolute;
        top: 80px; 
        right: 0;
        background-color: #575555;
        width: 100%;
        padding: 20px;
        transition: max-height 0.3s ease-out, padding 0.3s ease-out; 
        max-height: 0; 
        
    }

    /* Menú activo, se expande */
    .header__nav.active {
        display: block;
        flex-direction: row;
        max-height: 400px; 
        padding: 20px;
    }
    .header__list {
        display: block;
        justify-content: flex-start;
        margin: 0px;
        list-style: none;
        padding: 20px 20px;
    }
}

/* Estilos de los enlaces */
.header__link {
    color: #ffffff;
    margin: 0 15px;
    padding: 0;
    transition: 0.5s;
    text-decoration: none;
}

/* Color de los enlaces al pasar el ratón */
.header__link:hover {
    color: #ef7f08;
}

/* Lista de enlaces */
.header__list {
    display: flex;
    justify-content: space-between;
    margin: auto;
    list-style: none;
    padding: 20px 20px;
}

/* seccion inicial */

.main-content {
    flex-grow: 1;
}
.inicio {
    background: linear-gradient(to top, #1e2326cc, #1e2326), url(../images/banner_inicial.png);
    background-size: cover;
    width: 100vw;
    color: #ffffff;
    display: flex;
    align-items: center;
}

/* tarjeta */
.contenido--banner {
    padding: 20px;
    background-color: #3f3f3f;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

/* imagen */
.img__maria {
    margin: 50px auto 0 auto;
    border: 5px solid #ef7f08;
    width: 80%;
    border-radius: 20%;
}

/* Nombre */
.banner__nombre {
    margin: 20px 0 0 0; 
    font-size: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* especialidad */
.banner__descripcion {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    padding-top: 12px;
}

/* formatos de iconos de rrss */
.redes__link {
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ef7f08;
    border-radius: 12px;
    width: 42px;
    padding: 0;
    height: 42px;
    line-height: 42px;
    margin: 20px 5px;
    font-size: 20px;
    transition: .2s;
}

/* transición naranja */
.redes__link:hover {
    background-color: #ef7f08;
}




/* seccion sobre mi */
.sobremi {
    background-color: #ef7f08;
    color: #ffffff;
    padding: 40px 40px;
    width: 100vw;
}

/* como se ve el contenido 1 */
.sobremi__contenido {
    max-width: 1200px;
    margin: 20px;
}

/* estilos titulo sobre mi */
.sobremi__title {
    font-size: 2.5em;
    text-align: center;
    padding: 20px 0;
}

/* estilos texto */
.sobremi__text {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 5px 0; /* 0 arriba, 0 derecha, 5px abajo, 0 izquierda */
    text-align: justify;
}

/* sobre mi lista datos personales */
.sobremi__list {
    display: flex;
    margin: 30px;
    flex-wrap: wrap;
}

/* sobra mi título datos personales */
.datos__title {
    letter-spacing: 3px;
    margin:0 0 5px 0;
    font-size: 25px;
}

/* lista de los datos */
.datos__list {
    list-style: none;
    margin:0 80px 0 0;
}
.datos__item {
    margin:0 0 6px 0;
}
.datos__itemcolor {
    display: inline-block;
    color: #000000;
}

/* sobre mi intereses */
.sobremi__intereses {
    width: 50%;
}

/* sobre mi título intereses */
.intereses__title {
    letter-spacing: 5px;
    margin: 0 0 10px 0;
    font-size: 25px; 
}

/* cada item */
.intereses__item {
    margin:0 0 6px 0;
    text-align: justify;
}

/* apartado sin title de intereses */
.intereses__list {
    list-style: none;
    margin-right: 50px;
}

/* quitar subrayado download */
.descargar__cv {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

/* darle forma a la caja download */
.descargarcv__boton {
    font-size: 20px;
    background-color: transparent;
    color: #ffffff;
    border: 3px solid #ffffff;
    display: block;
    margin: 20px;
    padding: 10px;
    text-decoration: none;
}

/* HABILIDADES */
/* contenedor */
.habilidades {
    background-color: #808080;
    color: #ffffff;
    padding: 25px 40px;
    flex-wrap: wrap;
    width: 100vw;
}

/* dentro del contenedor */
.habilidades__contenido {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
}

/* título habilidades */
.habilidades__title {
    font-size: 2.5em;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

/* items */
.habilidades__item-title {
    font-size: 25px;
    color: #ef7f08;
    margin: 10px;
    padding: 10px;
}

/* lista y título habilidades */
.habilidades__titulo-y-item {
    padding: 20px;
    border: 2px solid #ef7f08;
    border-radius: 10px;
    margin: 20px;
}
/*para quitar la decoracion de la sublista*/
.habilidades__sublista {
    list-style-type: none;
    padding-left: 0;
}

/* color de photoshop */
.habilidades__subitem-ap {
    color: #0000ff;
}

/* color illustrator */
.habilidades__subitem-ai {
    color: #ffa500;
}

/* color indesign */
.habilidades__subitem-ad {
    color: #800080;
}

/* color de premiere */
.habilidades__subitem-app {
    color: #56328d;
}

/* color after effects */
.habilidades__subitem-aae {
    color: #091c86;
}

/* Sección tatuajes */

/* contenedor */
.galeria-tatuajes {
    padding: 40px;
    background: linear-gradient(to top, #1e2326cc, #1e2326), url(../images/banner_inicial.png);
    text-align: center;
    width: 100vw;
}

/* título */
.galeria-tatuajes__title {
    font-size: 2.5em;
    color: #ffffff;
    margin:0 0 20px 0;
}

/* formato de colocación */
.galeria-tatuajes__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;
}

/* tarjeta de cada imagen */
.galeria-tatuajes__item {
    display: flex;
    border-radius: 12px;
    box-shadow: 0 4px 10px #0000001a;
}

/* tamaño de imagen */
.galeria-tatuajes__img {
    width: 60%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

/* zoom al pasar el ratón */
.galeria-tatuajes__img:hover {
    transform: scale(1.1);
}
/*para pantalla pequeña*/
@media (max-width: 768px) {
    .galeria-tatuajes__grid{
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}
/* EXPERIENCIA */
.curriculum {
    background-color: #ef7f08;
    display: block;
    padding: 40px 20px;
    width: 100vw;
}

/* título */
.curriculum__title {
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 2.5em;
    color: #ffffff;
    flex-wrap: wrap;
}

/* tarjeta formación */
.curriculum__formacion {
    border: 3px solid grey;
    padding: 20px;
    border-radius: 20px;
}

/* título formación */
.formacion__title {
    padding: 10px;
    font-size: 25px;
    color: #ffffff;
}

/* tarjeta experiencia */
.curriculum__experiencia {
    border: 3px solid grey;
    padding: 20px;
    margin: 20px 0 0 0;
    border-radius: 20px;
}

/* título experiencia */
.experiencia__title {
    padding: 10px;
    font-size: 25px;
    color: #ffffff;
}

/*seccion portfolio*/
/*   imágenes portfolio */

.portfolio__img {
    width: 100%;
    height: auto;
    max-width: 300px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    margin:0 0 0 30px;
}
/*generales de seccion*/
.portfolio {
    background-color: black;
    width: 100vw;
    color: #ffffff;
    padding: 2px;
    overflow: hidden;
}
/*como se van a agrupar*/
.portfolio__contenido {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 10px;
    justify-content: center;
}
/*titutlo de seccion*/
.portfolio__title {
    font-size: 2.5em;
    color: #ef7f08;
    text-align: center;
    padding: 30px;
}
/*pequeño texto depues del titulo*/
.portfolio__text {
    font-size: 18px;
    text-align: center;
    padding: 20px;
}

/* para pantallas más pequeñas  */
@media (max-width: 768px) {
    .portfolio__contenido {
        grid-template-columns: 1fr 1fr; /* Cambiar de 3 columnas a 2 */
    }

    .portfolio__img {
        max-width: 100%;
        margin: 10px;
    }
}

/* Media Query para pantallas aún más pequeñas (móviles muy pequeños) */
@media (max-width: 480px) {
    .portfolio__contenido {
        grid-template-columns: 1fr; /* Cambiar a 1 columna */
    }

    .portfolio__text {
        font-size: 14px; /* Reducir el tamaño del texto */
    }
}



/* estilos de la sección de contacto */
.contacto {
    background-color: #ef7f08;
    color: #333;
    padding: 40px;
    width: 100vw;
}

/* contenedor del formulario */
.contacto__contenido {
    max-width: 900px;
    margin:0 auto;
    text-align: center;
}

/* titulo de la sección */
.contacto__title {
    font-size: 2.5em;
    margin:0 0 20px 0;
}

/*  formulario */
.contacto__formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*  cada grupo de inputs */
.contacto__input {
    display: flex;
    flex-direction: column;
}

/* etiquetas del formulario */
.contacto__label {
    font-size: 1.2em;
    margin:0 0 8px 0;
}

/* campos de texto */
.contacto__input{
        padding: 10px;
        font-size: 1em;
        width: 100%;
}


/* botón enviar */
.contacto__btn {
    background-color: #929191;
    color: #ffffff;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.6s ease;
}

/*hover del botón */
.contacto__btn:hover {
    background-color:#333;
}

/*footer*/
.footer__contenido{
    background-color:#575555 ;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.footer_logo{
    width: 150px;
    margin: 20px 0 20px 60px;
    height: auto;
}
.footer_text{
    text-align: center;
    margin: 20px 0 20px 80px;
}



